body {
  margin:0;
  padding:0;
  background-color:rgb(51, 9, 75) ;
  color:whitesmoke;
  font-family: 'Edu SA Beginner', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#root{margin:0 24px;position:relative;min-height:100vh}